#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        ESCL {
            bindings = <&kp ESCAPE>;
            key-positions = <2 3>;
        };

        ESCR {
            bindings = <&kp ESCAPE>;
            key-positions = <6 7>;
        };

        WINL {
            bindings = <&kp LEFT_WIN>;
            key-positions = <13 12>;
        };

        WINR {
            bindings = <&kp RIGHT_WIN>;
            key-positions = <18 19>;
        };

        ALPHA {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <24 25>;
        };

        KANA {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <30 31>;
        };

        Lay {
            bindings = <&mo 5>;
            key-positions = <40 39>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        comma_morph: comma_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_MORPH";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        period_morph: period_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD_MORPH";
            bindings = <&kp PERIOD>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp L       &kp U         &comma_morph  &period_morph                                &kp F            &kp W  &kp R              &kp Y           &kp P
&kp E      &mt LALT I  &mt LSHIFT A  &kp O         &kp MINUS      &none            &none        &kp K            &kp T  &mt RIGHT_SHIFT N  &mt LEFT_ALT S  &kp H
&kp LCTRL  &kp Z       &kp X         &kp C         &kp V          &none            &none        &kp G            &kp D  &kp M              &kp J           &kp B
&none      &none       &none         &none         &lt 2 TAB      &lt 1 SPACE      &lt 3 ENTER  &lt 4 BACKSPACE                                            &lt 6 B
            >;
        };

        NUM_SYMBOL {
            bindings = <
&kp PERCENT   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK                        &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LESS_THAN      &kp GREATER_THAN  &kp DOLLAR
&kp EQUAL     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS      &none      &none      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &kp HASH
&kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SLASH     &none      &none      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp COLON          &kp SEMICOLON     &kp AMPERSAND
&none         &none         &none         &none         &none         &none      &kp ENTER  &kp DELETE                                                                        &none
            >;
        };

        CONFIG {
            bindings = <
&none  &none            &none             &none              &rgb_ug RGB_TOG                         &none  &none           &none     &none           &none
&none  &kp K_PREV       &kp K_PLAY_PAUSE  &kp K_NEXT         &kp C_BRIGHTNESS_INC  &none      &none  &none  &kp SCROLLLOCK  &kp CAPS  &kp KP_NUMLOCK  &kp PRINTSCREEN
&none  &kp C_VOLUME_UP  &kp K_MUTE        &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC  &none      &none  &none  &none           &none     &none           &none
&none  &none            &none             &none              &none                 &none      &none  &none                                            &none
            >;
        };

        FUNCTION_ARROW {
            bindings = <
&kp F1  &kp F2           &kp F3             &kp F4   &kp TILDE                    &none     &kp BACKSLASH  &kp PIPE      &kp GRAVE       &kp CARET
&kp F5  &mt LEFT_ALT F6  &mt LEFT_SHIFT F7  &kp F8   &kp AT     &none      &none  &mkp MB4  &kp LEFT       &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
&kp F9  &kp F10          &kp F11            &kp F12  &kp SLASH  &none      &none  &mkp MB5  &kp HOME       &kp PAGE_UP   &kp PAGE_DOWN   &kp END
&none   &none            &none              &none    &none      &none      &none  &none                                                  &none
            >;
        };

        undefined {
            bindings = <
&none  &none  &none  &none  &none                    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none                       &none
            >;
        };

        BLUETOOTH {
            bindings = <
&none         &none         &none             &none         &rgb_ug RGB_TOG                         &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4
&none         &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT    &kp C_BRIGHTNESS_INC  &none      &none  &none           &mkp MB1        &kp CAPS      &kp KP_NUMLOCK  &kp PRINTSCREEN
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4          &none      &none  &kp KP_NUMLOCK  &msc SCRL_LEFT  &msc SCRL_UP  &msc SCRL_DOWN  &msc SCRL_RIGHT
&none         &none         &none             &none         &none                 &none      &none  &none                                                         &none
            >;
        };

        MOUSE {
            bindings = <
&none  &none  &none  &none  &none                    &none  &none           &none         &none           &none
&none  &none  &none  &none  &none  &none      &none  &none  &mkp MB1        &mkp MB3      &mkp MB2        &none
&none  &none  &none  &none  &none  &none      &none  &none  &msc SCRL_LEFT  &msc SCRL_UP  &msc SCRL_DOWN  &msc SCRL_RIGHT
&none  &none  &none  &none  &none  &none      &none  &none                                                &msc SCRL_RIGHT
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };
    };
};
